<div class="container text-center">
    <h1>About US</h1>
    <p> We Are DevMatch. Our company focues on creating an exclusive community for
    developers, Investors and Entrepreneurs meet.</p>
</div>